@font-face {
    font-family: 'NewYork';
    src: url('NewYork.otf') format('otf');
}

:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}









body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

h1{
  font-size: 5rem !important;
}

h1,
h2 {
    font-family: 'NewYork';
}

h4{
  color: white;
  text-align: center;
}


p {
    font-size: 30px;
  
      color: white;


}



section#navegationbar {

    margin: 1px;
    padding: -40px;
}


navbar-collapse {

    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;

}

.logo {
    width: 28%;
    height: auto;
}

.nav-item {
    padding-right: 20px;

}


.nav_link {
    color: #8AAE76;

    background-color: transparent;
}


a{
color:#8AAE76;
text-decoration: none;
}



/*Section Home*/


section#home {
    background-image: url('../img/lente1.jpg');
    background-size: cover;
    height: 80vh;
}

.intro {
    height: 100%;
}

section#home h1 {
    text-align: left;
    width: 100vw;
    height: 40vh;
    background-color: hsla(108, 21%, 75%, 0.46);
}

.title-text {
    margin-left: 50px;
    padding-left: 20px;
    font-size: 100px;
    color: #FFFFFF;
}


.title-text-groen {
    
    text-align: center;
    font-size: 100px;
    color: #8AAE76;
}



section#about {
    padding-top: 180px;
    padding-bottom: 110px;
}

.container_green {
    background-color: #8AAE76;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;


}

.green_tekst.col-lg-6 {
    padding-top: 50px;
 


}

.about img {
    padding-top: 0px;
    padding-left: 100px;
    width: 80%;
    height: auto;
}



p {
    font-size: 30px;
  
      color: white;


}





.img-fluid img-thumbnail {
    padding: 0.25rem;

    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}


max-width: 100%;
height: auto;
}



.resize {
    width: 100px;
    height: auto;
}




/*-------Media quereis about---------*/

.description{
  padding-left: 20px;
  padding-bottom: 10px;
  text-align: center;

}



 p{
  color: #8AAE76;
  font-size: 25px;
  text-align: center;
}




/*Section Video animation*/

section#Animation {
    padding-bottom: 50px;
    padding-top:
}


.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.title-text-groen {
    padding-bottom: 30px;
}


/*gallery*/
#gallery {
    line-height: 0;
    -webkit-column-count: 3;
    /* split it into 5 columns */
    -webkit-column-gap: 3px;
    /* give it a 5px gap between columns */
    -moz-column-count: 3;
    -moz-column-gap: 3px;
    column-count: 3;
    column-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


section#Gallery {
    margin-top: 100px
}


#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 15px;
    transition: 1s;


}




@media (max-width: 1200px) {


    #about {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }



    #gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


@media (max-width: 1000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


@media (max-width: 800px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


/*Slider*/

section#Slider {
    padding-top: 100px;

}

.mySlides img {
    width: 30%;
    height: auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 80s;
}

@keyframes fade {
    from {
        opacity: 7
    }

    to {
        opacity: 12
    }
}




input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}





/*contact*/

section#Contact {

    margin-top: 180px;
    background-image: url('../img/flower2.jpg');
    background-size: cover; 
    opacity: 80%;

}


.Login {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 100vh;
    margin-left: 100px;
   display: 
}


.Login container{
  margin-bottom: 20px;
}


/*footer*/

footer {
    background-color: #BE4F53;
    height: 200px;
    width: 100vw;
    padding-top: 40px color: #FFFFFF;
    text-align: center;
}


.footer-content {
  
}


}



@media (max-width: 600px){

  body{

  }
  h1{
    font-size: 4rem !important;
    }

  p{
    margin-left: 10px;
    font-size: 20px;
  }
  .container_green {
    background-color: #8AAE76;
    display: flex;
    justify-content: center;

    max-width: 100%;
    max-height: auto;


}

title-text-groen {
         font-size: 20px;
        color: #8AAE76;

    }





}


// Small devices (landscape phones, 576px and up)
@media (max-width: 365px) {
    h1 {
        font-size: 20px;
    }

    .title-text-groen {
        margin font-size: 0px;
        color: #8AAE76;

    }
}
}

